button {
    margin-right: 10px;
}
img {
    display: block;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}
.send {
    background-color: skyblue;
    height: 10px;
}