<div *ngFor="let user of list">
  <mat-card>
    <div [class]="user.documents.status"></div>
    <mat-card-header>
        <mat-card-title>Пользователь {{user?.name}} {{user?.surname}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Личная информация
              </mat-panel-title>
            </mat-expansion-panel-header>
              
            <mat-form-field>
            <input matInput placeholder="Имя" [ngModel]="user.name" disabled> 
            </mat-form-field>
        
            <mat-form-field>
            <input matInput placeholder="Фамилия" [ngModel]="user.surname" disabled>
            </mat-form-field>
          </mat-expansion-panel>
    
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Фото документов
              </mat-panel-title>
            </mat-expansion-panel-header>
    
            <mat-card>
              <mat-card-header>
                  <mat-card-title [ngStyle]="{'background-color': user.documents.passport.status === 1 ? 'red' : 'green'}">Фото паспорта</mat-card-title>
                </mat-card-header>
                  <div *ngFor="let item of user.documents.passport.files" class="image-container">
                    <mat-form-field class="full-width">
                      <textarea matInput placeholder="Комментарий" [(ngModel)]="item.comment"></textarea>
                    </mat-form-field>
                    <img mat-card-image [src]="item.img">
                    <div class="layer"></div>
                  </div>
                  <div class="layer"></div>
                  <button  mat-raised-button (click)="user.documents.passport.status = 2; saveChanges(user)">Принять</button>
                  <button  mat-raised-button (click)="user.documents.passport.status = 1; saveChanges(user)">Отклонить</button>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
            <div class="layer"></div>
    
            <mat-card>
              <mat-card-header>
                  <mat-card-title [ngStyle]="{'background-color': user.documents.drivingLicense.status === 1 ? 'red' : 'green'}">Фото водительского удостоверения</mat-card-title>
                </mat-card-header>
                <div *ngFor="let item of user.documents.drivingLicense.files" class="image-container">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Комментарий" [(ngModel)]="item.comment"></textarea>
                  </mat-form-field>
                  <div class="layer"></div>
                  <img mat-card-image [src]="item.img">
                  <div class="layer"></div>
                </div>
                <div class="layer"></div>
                <button  mat-raised-button (click)="user.documents.drivingLicense.status = 2; saveChanges(user)">Принять</button>
                <button  mat-raised-button (click)="user.documents.drivingLicense.status = 1; saveChanges(user)">Отклонить</button>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
            <div class="layer"></div>
    
            <mat-card>
              <mat-card-header>
                  <mat-card-title [ngStyle]="{'background-color': user.documents.selfie.status === 1 ? 'red' : 'green'}">Селфи крупно</mat-card-title>
                </mat-card-header>
                <div *ngFor="let item of user.documents.selfie.files" class="image-container">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Комментарий" [(ngModel)]="item.comment"></textarea>
                  </mat-form-field>
                  <div class="layer"></div>
                  <img mat-card-image [src]="item.img">
                  <div class="layer"></div>
                </div>
                <div class="layer"></div>
                <button  mat-raised-button (click)="user.documents.selfie.status = 2; saveChanges(user)">Принять</button>
                <button  mat-raised-button (click)="user.documents.selfie.status = 1; saveChanges(user)">Отклонить</button>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
    
          </mat-expansion-panel>
    
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Фото с контрольной информацией
              </mat-panel-title>
              </mat-expansion-panel-header>
    
              <mat-card>
                <mat-card-header>
                    <mat-card-title [ngStyle]="{'background-color': user.documents.controlSelfie.status === 1 ? 'red' : 'green'}">Cелфи с паспортом и контрольной информацией: {{user?.documents?.controlInfo?.text}}, которую нужно распечатать или выписать на бумажку и поместить в кадре {{user?.documents?.controlInfo?.place}}</mat-card-title>
                </mat-card-header>
                    <div *ngFor="let item of user.documents.controlSelfie.files" class="image-container">
                      <mat-form-field class="full-width">
                        <textarea matInput placeholder="Комментарий" [(ngModel)]="item.comment"></textarea>
                      </mat-form-field>
                      <div class="layer"></div>
                      <img mat-card-image [src]="item.img">
                      <div class="layer"></div>
                    </div>
                    <div class="layer"></div>
                <button  mat-raised-button (click)="user.documents.controlSelfie.status = 2; saveChanges(user)">Принять</button>
                <button  mat-raised-button (click)="user.documents.controlSelfie.status = 1; saveChanges(user)">Отклонить</button>
                <mat-card-content>

                </mat-card-content>
              </mat-card>
          
          </mat-expansion-panel>
    
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Дополнительные документы
                </mat-panel-title>
                </mat-expansion-panel-header>
                <span>{{user.documents.additional.userComment}}</span>
                <div class="layer"></div><br>
                <div *ngFor="let item of user.documents.additional.files">
                  <mat-card>
                    <mat-form-field class="full-width">
                      <textarea matInput placeholder="Комментарий" [(ngModel)]="item.comment"></textarea>
                    </mat-form-field>
                    <div class="layer"></div>
                    <img mat-card-image [src]="item.img">
                    <div class="layer"></div>
                  </mat-card>
                  <div class="layer"></div>
                </div>
                <button  mat-raised-button (click)="user.documents.additional.status = 2; saveChanges(user)">Принять</button>
                <button  mat-raised-button (click)="user.documents.additional.status = 1; saveChanges(user)">Отклонить</button>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="layer"></div>
        <button  mat-raised-button (click)="finally(user, 'edit')">Отправить на доработку</button>
        <button  mat-raised-button (click)="finally(user, 'accept')">Финально принять</button>
        <button  mat-raised-button (click)="finally(user, 'decline')">Финально отклонить</button>
      </mat-card-content>
  </mat-card>
</div>
<div class="layer"></div>
<button *ngIf="checkCount()" mat-raised-button (click)="getMore()">Далее</button>
<span *ngIf="!list.length"> Список заявок пуст </span>